.writing_pad_outer_div {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100%;
}

.writing_pad_inner_div {
  background-color: black;
  max-width: 800px;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.note_content {
  color: #0ff;
}

.note_content a {
  text-decoration: none;
  color: #fb0;
}

.note_topic {
  text-align: center;
  color: #fb0;
}

.note_sub_topic {
  color: #fb0;
}
